.header {
  align-items: center;
  font-size: 2.5em;
  margin: 0;

  h1 {
    font-size: 3em;
    margin: 0;
  }

  .homeLink{
    a {
      text-decoration: none;
      color: black;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    a {
      color: #F25F5C
    }
  }
}

@media only screen and (max-width: 750px) {
  .header {
    align-items: flex-start;
    flex-direction: column;

    nav {
      margin: 10px 0;
      flex-direction: column;
    }
  }
}