.footer {
    background-color: #3257ec;
    padding: 0px 280px;
    margin-top: 5%;
    .marquee{
        //height: 60px;
        //width: 100%;
        //overflow: hidden;
        //position: relative;

        div {
            //height: 50px;
          
            //position: absolute;
            //overflow: hidden;
    
            //animation: marquee 20s linear infinite;
        }
        
        p {
            //color: #F25F5C;
            font-size: 1.4em;
            color: #FFF;
            //float: left;
            font-weight: 800;

            a {
                color: #FFF;
                background-color: #0b35e7;
                transition: .3s;
                padding: 2px;
                &:hover {
                 color:rgb(250, 250, 250);
                 background-color: #F25F5C;
                }
                    
            }
            
        }

    }

}
// @keyframes marquee {
//     0% { left: 0; }
//     100% { left: -100%; }
//   }