.footer {
    background-color: #3257ec;
    padding: 0px 280px;
    margin-top: 10%;

    p {
        font-size: 1.4em;
        color: #FFF;
        font-weight: 800;

        a {
            color: #FFF;
            background-color: #0b35e7;
            transition: .3s;
            padding: 2px;
            &:hover {
                color:rgb(250, 250, 250);
                background-color: #F25F5C;
            }
                    
        }    
    }
}