.notice {
  border: 5px solid;
  margin: 30px auto;
  padding: 0 20px;
  width: 70%;

  a {
    background: #F25F5C;
    color: #FFF;
    display: block;
    margin: 20px auto;
    max-width: 400px;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    transition: .3s;
    &:hover {
      text-decoration: none;
      -webkit-box-shadow: 6px 6px 0px 4px rgba(0,0,0,0.9);
      -moz-box-shadow: 6px 6px 0px 4px rgba(0,0,0,0.9);
      box-shadow: 6px 6px 0px 4px rgba(0,0,0,0.9);
    }
  }
}

@media only screen and (max-width: 750px) {
  .notice {
    width: 85%;
  }
}