body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0 auto;
  margin-top: 5%;
  font-size: 14px;
  color: rgba(41, 41, 41, 1);

  a {
    &:hover {
      text-decoration: underline;
    }
  }

}
p {
  font-size: 1.2em;
}
p::selection {
  color: #fff;
  background: #3257ec;

}